.form{
    background-color: rgb(199, 148, 246);
    border: 3px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.texts{
    background-color: rgb(0, 0, 0);
    border: 0;
    padding: 10px;
    border-radius:10px;
    color: white;
    font-size: 16px;
    width: 40%;
    margin: 3px;
    height: 30px;
}
  
.texts:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional for proper spacing */
  }